<footer class="footer">
  <p class="content">
    <strong>Selected miracles of the Virgin Mary, edited and translated by Augustine Dickinson.</strong>
    <br>
    <strong>Indices:</strong> <a href="{{ site.url }}/indices"><strong>All</strong></a> | <a href="{{ site.url }}/indices#people">People</a> | <a href="{{ site.url }}/indices#places">Places</a> | <a href="{{ site.url }}/indices#general">General</a>
  </p>
  <p>
    &copy;2021 Augustine Dickinson.
    <br>
    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Available under the CC BY-NC-SA 4.0 License</a>.
    <br>
    Contents may be used for <u>non-commercial</u> purposes with <u>proper attribution</u>.
  </p>
</footer>