<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ተኣምረ፡ ማርያም፡ | Miracles of Mary</title>
    <meta name="description" content="Selected short miracles of the Virgin Mary edited and translated from Ethiopic by Augustine Dickinson.">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-8-desktop is-offset-2-desktop is-10-tablet is-offset-1-tablet">
          <h1 class="title">ተኣምረ፡ ማርያም፡</h1>
          <h2 class="subtitle is-4">Miracles of Mary</h2>
        </div>
        <div class="column is-4-desktop is-offset-2-desktop is-5-tablet is-offset-1-tablet">
          <h1 class="title is-5" name="preface">Preface</h1>
          <p class="preface">በስመ፡ አብ፡ ወወልድ፡ ወመንፈስ፡ ቅዱስ፡ አሐዱ፡ አምላክ፨ ንቀድም፡ በረድኤተ፡ እግዚአብሔር፡ ወሥነ፡ ሀብቱ፡ በጽሕፈተ፡ ተአምራተ፡ እግዝእትነ፡ ቅድስት፡ ድንግል፡ በ፪፡ ማርያም፡ ዘበዕብራይስጢ፡ ማሪሃም፡ ንጽሕት፡ ወላዲተ፡ አምላክ፡ ዘኢይክሉ፡ ፈጽሞ፡ ነጊረ፡ ዕበያ፡ ወክብራ፡ ወውዳሴሃ፡ ኢሰማያዊያን፡ ወኢምድራዊያን፨</p>
        </div>
        <div class="column is-4-desktop is-5-tablet">
          <p class="preface">In the Name of the Father and the Son and the Holy Spirit, One God. We begin, by the aid of the Lord and the goodness of His gift in writing the miracles of Our Lady, the holy twofold Virgin Mary (which in Hebrew is Mariham), the pure Birth-giver of God. Neither those in heaven nor those on earth are able to cease the recitation of her greatness and honour and praise.</p>
        </div>
        <div class="column is-8-desktop is-offset-2-desktop is-10-tablet is-offset-1-tablet">
          <div class="content">
            <h1 class="title is-5">Miracles</h1>

            <ol id="miracle-list">
            {% assign miracles = site.miracles | sort_natural: "pemm" %}
            {% for miracle in miracles %}
              {% unless miracle.cycle %}
              <li><a href="{{ site.url }}{{ miracle.url }}">{{ miracle.title }}</a></li>
              {% endunless %}
            {% endfor %}
            </ol>
          </div>
        </div>
        <div class="column is-8-desktop is-offset-2-desktop is-10-tablet is-offset-1-tablet">
          <div class="content">
            <h1 class="title is-5">Miracle Cycles</h1>

            <ol id="cycle-list">
            {% assign cycles = site.miracles | group_by: "cycle" %}
            {% for cycle in cycles %}
              {% if cycle.items[0].cycle %}
              {% assign subdir = cycle.items[0].url | remove: cycle.items[0].slug | remove: '.html' %}
              <li>
                <a href="{{ site.url }}{{ subdir }}"><strong>{{ cycle.name }}</strong></a>
                <ol>
                {% for miracle in cycle.items %}
                  {% unless forloop.last %}
                  <li><a href="{{ site.url }}{{ miracle.url }}">{{ miracle.title }}</a></li>
                  {% endunless %}
                {% endfor %}
                </ol>
              </li>
              {% endif %}
            {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include footer.html %}
  </body>
</html>